<div class="container archives">
  <div class="post-list">
    <% 
      var prev=-10086;// prev year 
      var curr;// curr year, ever step be updated 
      site.posts.sort('date', -1).each(function(item, index) { 
        var mark=false; 
        item.categories.forEach(function(item1){ 
          if(item1.name=="碎碎念" ){
            mark=true; 
          } 
        }); 
        if(mark){ 
          curr=item.date.year() 
          if (curr !==prev) { 
            prev=curr; 
      %>
      <!-- 后续文章的发布年份呈现 -->
      <div class="content-title">
        <h2>
          <span>
            <%- curr %>
          </span>
        </h2>
      </div>
      <% } %>
      <div class="gossip-item">
        <div class="time-gossip">
          <h4>
          <%- item.date.format("MM-DD HH:mm:ss") %>
          </h4>
        </div>
        <div class="time-gossip">
          <%- item.more %>
        </div>
      </div>  
        <% }}); %>
  </div>
</div>