<div class="back-to-top hidden">
  <a href="javascript: void(0)">
    <i class="iconfont icon-chevronup"></i>
  </a>
</div>
<script async src="https://cdn.jsdelivr.net/gh/wellmoonloft/peach@v0.0.2/source/js/backtotop.js"></script>
