<% if (theme.catalog.enable && toc(page.content)) { %>
  <div class="post-catalog" id="catalog">
    <div class="title"><%= __('catalog') %></div>
    <div class="catalog-content">
      <%- toc(page.content, { "list_number": false }) %>
    </div>
  </div>
  <script async src="https://cdn.jsdelivr.net/gh/wellmoonloft/peach@v0.0.4/source/js/catalog.js"></script>
<% } %>
